/* Configuração */
:root {
    --color-primary: #1a1f1e;
    --color-secundary: #6cbdb5;
    --color-terciary: #93ccc6;
    --color-quaternary: #c8d6bf;
    --color-quiternary: #e3dfba;
}

@font-face {
    font-family: Fonte1;
    src: url("font/GeosansLight-Oblique.ttf");
}

@font-face {
    font-family: Fonte2;
    src: url("font/AlteHaasGroteskRegular.ttf");
}



body {
    background-color: var(--color-quiternary);
    color: var(--color-primary);

}

/* Topo */

nav {
    background-color: var(--color-terciary);
}

.botaoCliente{
    background-color: transparent;
    border-color: transparent;
}
.botoesCadastro{
    background-color: lightblue;
    border-color: lightblue;
    font-size: 23px;
    display: block;
    border: 0px;
    padding: 20px;
    border-radius: 50%;
}
.username {
    width:50%;
    margin:auto;
}
.password {
    width:50%;
    margin:auto;
}
.botoesEnvio{
    display:flex;
    justify-content:center;
    padding:30px;
}
.backgroundCadastro{
    background-color:var(--color-quiternary);
}
.inputPassword{
    border-radius:4px;
}
.inputUsername{
    border-radius:4px;
}
.botaoLogarCadastrar{
    transition:0.4s;
    background-color: lightblue;
    color:black;
}
.botaoLogarCadastrar:hover{
    background-color: lightblue;
    opacity: 0.8;
    color:black;
    border:2px solid black;
}


/* Filtro Estoque */

#formulario_filtro_estoque select{
    background-color: var(--color-quiternary);
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    border-radius: 5px;
    text-align: center;
    font-weight: 600;
}

#formulario_filtro_estoque select option:hover,
#formulario_filtro_estoque select option:active{
    background-color: var(--color-primary);
    color: var(--color-quaternary);
    font-weight: 800;
}

.bloco-filtro-estoque{
    background-color: var(--color-primary);
}

.botao-filtrar{
    width: 50%;
    background-color: var(--color-quiternary);
    border: 1px solid var(--color-quiternary);
    color: var(--color-primary);
    border: var(--color-primary);
    border-radius: 2px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
}

.botao-filtrar:hover,
.botao-filtrar:active{
    background-color: var(--color-primary);
    border: 1px solid var(--color-quiternary);
    color: var(--color-quiternary);
    transition: all 0.5s;
    opacity: 0.9;
}



/* Card - */

.card {
    border-radius: 15px;
    color: var(--color-primary);
}

.card:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

.card img {
    border-radius: 15px 15px 0px 0px;
}

.bloco-icone-card {
    width: 20px;
    margin-right: 10px;
}

.botao-detalhes-produto {
    width: 100%;
    margin-top: 10px;
    background-color: var(--color-primary);
    color: var(--color-quiternary);
    font-size: 0.8em;
    font-weight: 800;
    text-transform: uppercase;
    border: 1px solid var(--color-primary);
    border-radius: 2px;
}

.botao-detalhes-produto:hover,
.botao-detalhes-produto:active {
    transition: all 0.5s;
    background-color: var(--color-quiternary);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
}

/* Rodapé */

footer {
    background-color: var(--color-primary);
    color: var(--color-quiternary);

}