/* Configuração */
:root {
    --color-primary: #1a1f1e;
    --color-secundary: #65727a;
    --color-terciary: #bec3bc;
    --color-quaternary: #d7dacf;
    --color-quiternary: #e6e8e3;
}

@font-face {
    font-family: Fonte1;
    src: url("font/GeosansLight-Oblique.ttf");
}

@font-face {
    font-family: Fonte2;
    src: url("font/AlteHaasGroteskRegular.ttf");
}

body {
    min-height: 100vh;
    /*background-color: var(--color-primary); */
    color: var(--color-quiternary);
    height: 100vh;
    background-image: url('../../img/background-area-adm2.png');
    background-size: cover;
    background-repeat: no-repeat;
}

main{
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}
